node_modules
*.log*
.nuxt
.storybook
.nitro
.cache
.output
.env
dist
/test-results/
/playwright/report/
/playwright/.cache/
test/testcafe/screenshots/
test/vitest/coverage
auto-imports.d.ts
components.d.ts
