version: 2.1

executors:
  node_executor:
    docker:
      - image: cimg/node:24.11.0
    working_directory: ~/project

commands:
  load_workspace:
    steps:
      - attach_workspace:
          at: .
  save_workspace:
    steps:
      - persist_to_workspace:
          root: ~/project
          paths: .
  install_pnpm:
    steps:
      - run: sudo npm i -g pnpm@10.20.0
  install_package:
    steps:
      - run: pnpm install
  lint_format:
    steps:
      - run: pnpm lint:format
  lint_style:
    steps:
      - run: pnpm lint:style
  lint_script:
    steps:
      - run: pnpm lint:script
  test_uiux:
    steps:
      - run: |
          npx playwright install --with-deps
          pnpm test:uiux
  test_unit:
    steps:
      - run: pnpm test:unit
  test_e2e:
    steps:
      - run: |
          npx playwright install chrome
          pnpm test:e2e

jobs:
  setup:
    executor: node_executor
    steps:
      - checkout
      - install_pnpm
      - install_package
      - save_workspace
  lint:
    executor: node_executor
    steps:
      - load_workspace
      - install_pnpm
      - lint_format
      - lint_style
      - lint_script
  test_uiux:
    executor: node_executor
    steps:
      - load_workspace
      - install_pnpm
      - test_uiux
  test_unit:
    executor: node_executor
    steps:
      - load_workspace
      - install_pnpm
      - test_unit
  test_e2e:
    executor: node_executor
    steps:
      - load_workspace
      - install_pnpm
      - test_e2e

workflows:
  ci:
    jobs:
      - setup
      - lint:
          requires:
            - setup
      - test_uiux:
          requires:
            - setup
      - test_unit:
          requires:
            - setup
      - test_e2e:
          requires:
            - setup
