name: CI/CD
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
# GitHubPagesへのデプロイを許可
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - name: Setup Pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.20.0
      - name: Install Dependency
        run: pnpm install
      - name: Build App
        run: pnpm generate
      - name: Upload App
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist
      - name: Deploy App
        uses: actions/deploy-pages@v4
      - name: Lint Prettier
        run: pnpm lint:format
      - name: Lint Stylelint
        run: pnpm lint:style
      - name: Lint Eslint
        run: pnpm lint:script
      - name: Test Storybook
        run: pnpm test:uiux
      - name: Test Vitest
        run: pnpm test:unit
      - name: Test Playwright
        run: pnpm test:e2e
